
.chatScreen_timestamp{
    color:gray;
    text-align: center;
    padding: 20px;
}
.chatScreen_message{
    padding: 20px;
    display: flex;
    align-items: center;
}
.chatScreen_text{
    margin-left: 10px;
    background-color: lightgray;
    border-radius: 20px;
    padding:15px;
}
.chatScreen_user{
    margin-left: auto;
    background-color: #29b3cd;
    padding: 15px;
    border-radius: 20px;
    color: white;
}



.chatScreen_input{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgrey;

}
.chatScreen_inputField{
  flex: 1;
    padding: 10px;
    border: none;

}
.chatScreen_inputButton{
margin-right: 20px;
    border: none;
    background-color: white;
    font-weight: bold;
    color: #fe3a71;
}