.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    /* horizentally center items */
    align-items: center;
}
.header-logo{
    
    height: 50px;
    /* width: 500px; */
    /* auto size width based on height/width px*/
    object-fit: contain;
}
.header-icon{
    padding: 10px;
    color:silver;
}
